.header {
    background-color: #075CB5;
    position: relative;
    min-height: 62px;
}

.header-text {
    color: #fff;
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: bold;
    line-height: 18px;
    font-size: 13px;
}